<div class="chat-cont">
    <h1>Chat room</h1>

    <div id="messages">=
        <% @room_messages.each do |room_message| %>
            <%= render room_message %>
        <% end %>
    </div>

    <%= form_for @room_message, remote: true do |f| %>
        <%= f.text_field :message %>
        <%= f.hidden_field :room_id %>
        <%= f.submit  %>
      <% end %>
</div>